<% extend('layout') %>
<div class="container">
    <div class="row mt-4">
        <div class="col-sm-12">
            <h1>Inserisci dati evento</h1>

            <form action="/evento/newevento" method="POST">

                <input type="hidden" id="id" name="id" value="<%= id %>">

                <div class="form-group">
                    <label for="titolo">Titolo </label>
                    <input type="text" name="titolo" class="form-control" id="titolo" placeholder="EventoX">
                </div>
                <div class="form-group">
                    <label for="luogo">Luogo</label>
                    <input type="text" name="luogo" class="form-control" id="luogo" placeholder="Luogo">
                </div>
                <div class="form-group">
                    <label for="date">Data</label>
                    <input type="text" name="date" class="form-control" id="date" placeholder="gg/mm/aaaa">
                </div>
                <div class="form-group">
                    <label for="orario">Orario</label>
                    <input type="text" name="orario" class="form-control" id="orario" placeholder="00:00">
                </div>
                <div class="form-group">
                    <label for="artista">Artista</label>
                    <input type="text" name="artista" class="form-control" id="artista" placeholder="Artista">
                </div>
                <div class="form-group">
                    <label for="capienza">Capienza</label>
                    <input type="text" name="capienza" class="form-control" id="capienza" placeholder="500">
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
