<html>
    <% extend('layout') %>
   
        <div class="container mt-4">
            <h1>Lista degli Eventi</h1>

            <table class="table mt-4">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Evento</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let item of results) { %> 
                  <tr>
                    <th scope="row"><%= item.id %></th>
                    <td style="word-break:break-all;"><%= item.titolo %></td>           
                  </tr>
                <% } %> 
                </tbody>
            </table>
        </div>

        
